.head{
    display: flex;
    /* justify-items: baseline; */
    justify-content: space-between;
    margin-left: 0.5rem;
    /* background-color: black; */
}

.companyname{
    margin-left: 0.5rem;
}